@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900;
  font-feature-settings: "liga" 1, "calt" 1;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

